<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Pong</title>


</head>
<body>
<audio id="laser" src="../Model/Sounds/laser.wav"></audio>
<audio id="jump" src="../Model/Sounds/jump.wav"></audio>
<audio id="jump2" src="../Model/Sounds/jump2.wav"></audio>
<audio id="hit" src="../Model/Sounds/hit.wav"></audio>
<audio id="back" src="../Model/Sounds/back.wav"></audio>
<audio controls="" autoplay loop>
    <source src="../Model/Sounds/back.wav" type="audio/wav">
</audio>
<div align="center" style="margin:50px">
    <canvas id="Pong" width="800" height="500" style="border: 1px solid black">
        Html 5 not avalible
    </canvas>
</div>
<a href="http://jump-shoot.it.dh-karlsruhe.de/dashboard/index">Zur&uuml;ck</a>
<script src="../Model/Kugeln.js"></script>
<script src="../Model/Spielfigur.js"></script>
<script src="../Control/Input.js"></script>
<script src="../Control/Actionen.js"></script>
<script src="Draw.js"></script>
<script src="../Model/Sounds.js"></script>
<script src="../Model/Livebar.js"></script>


<script src="../Model/Main.js"></script>

</body>
</html>
